body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 30%;
  padding: 10px 12px;
  margin: 15px 0;
  border: 1px solid rgb(8, 90, 148);
  border-radius: 4px;
}
input[type="text"] {
  background-image: url("icons8-search-24.png");
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding-left: 40px;
}

.cityDiv {
  width: 80%;
  height: 100%;
}

.weather-data {
  color: aliceblue;
  font-size: 25px;
}
.location {
  font-size: 30px;
  padding: 5px;
  font-weight: 500;
}
.date {
  font-style: italic;
}
.temperature {
  font-size: 40px;
  padding: 25px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}
.description {
  font-style: italic;
}
.humidity {
  padding: 25px;
}
.weatherIcon {
  padding: 0px 10px;
}
.weatherDataWeek {
  float: left;
  padding: 12px;
  margin: 5px;
  background-color: rgba(98, 126, 150, 0.8);
}

.temperatureWeek {
  margin: 8px;
  padding: 10px;
}
.day {
  font-weight: bold;
}
.forecastBtn {
  border: none;
  padding: 20px 50px;
  border-radius: 4px;
  font-weight: bold;
  background-color: rgba(40, 100, 160, 0.9);
}
.weeklyBtn:hover {
  border: 2px solid rgba(14, 39, 64, 0.9);
}

.MuiCircularProgress-colorPrimary {
  color: white !important;
}
