body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  width: 60%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid rgb(8, 90, 148);
  border-radius: 4px;
}
input[type=text]{
  background-image:url('icons8-search-24.png');
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding-left: 40px;
}

.cityDiv{
 float: right;
 width:30%;
 height:780px;
}
.currentDiv{
  float: left;
  width:30%;
  height:780px;
}
.weather-data{
  color: aliceblue;
  font-size: 25px;
  padding-right: 5%;
}
.location{
  font-size: 30px;
  padding: 5px;
  font-weight: 500;
}
.date{
  font-style: italic;
}
.temperature{
  font-size: 40px;
  padding: 25px;
  font-weight: 500;
  text-shadow:2px 2px black;
}
.description{
  font-style: italic;
}
.humidity{
  padding: 25px;
}
.weatherIcon{
  padding: 0px 10px;
}
.weatherDataWeek{
  float: left;
  padding:12px;
  margin: 5px;
  background-color: rgba(98, 126, 150,0.8);
}
.weatherChangeWeek{
 
}
.temperatureWeek{
  margin: 10px;
  padding: 10px;
}
.day{
  font-weight: bold;
}
.weeklyBtn{
  margin:50px 10px;
  border:none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  background-color: rgba(40, 100, 160, 0.9);
}
.weeklyBtn:hover{
  border:2px solid  rgba(14, 39, 64, 0.9);
}